*{
  margin: 0;padding: 0;
}
a{
  text-decoration: none;
  margin: 10px;
  margin: 50px;
  
}
nav{
  background-color: aqua;
  padding: 2px;
  height: 40px;
padding-left: 250px;

}
.box{
  height: 50px;
  width: 50px;
  background-color: aqua;
  margin: 4px;
  display: inline-block;
}
#container{
  border: 5px solid;
  display:block;

}
#box1{
  position: static;
  
}
#box2{
  position: relative;
  top: 10px;
  left: 20px;
  z-index: 1;
}
#box3{
  position: absolute;
top: 10px;
left: 20px;
}
#box4{
  position: fixed;
  z-index: 3;
}
#box6{
  display: block;
}
footer{
  position: fixed;
  bottom: 0;
  background-color: aquamarine;
}